
      =====================================
        SAMETIME INSTALL - SUMMARY REPORT
      =====================================

Sametime Meetings (webmeting)
-----------------------------
🖥️  URL:        https://{{ serverHostname }}     (IP: {{ ingress_external_ip.stdout }})
👱  login:      usernames and passwords are managed by the Sametime Community server (Domino)

Kubernetes Dashboard (maintenance)
----------------------------------
{% if dashboard_expose_type == 'loadbalancer' %}
📈  URL:        https://{{ dashboard_external_ip.stdout }}:{{ dashboard_external_port.stdout }}     ( https://{{ dashboard_assigned_hostname }} )
{% endif %}
{% if dashboard_expose_type == 'ingress' %}
📈  URL:        https://{{ dashboard_assigned_hostname }}     (IP: {{ ingress_internal_external_ip.stdout }})
{% endif %}
🔑  token:      {{ dashboard_admin_token.stdout }}
🔐  cert:       {{ dashboard_certificate_info | default('Certificate not managed by the script', true) }}

Elasticsearch - Kibana (logging)
--------------------------------
{% if elasticsearch_kibana_expose_type == 'loadbalancer' %}
📃  URL:        https://{{ kibana_external_ip.stdout }}:{{ kibana_external_port.stdout }}     ( https://{{ elasticsearch_kibana_assigned_hostname }} )
{% endif %}
{% if elasticsearch_kibana_expose_type == 'ingress' %}
📃  URL:        https://{{ elasticsearch_kibana_assigned_hostname }}     (IP: {{ ingress_internal_external_ip.stdout }})
{% endif %}
👱  login:      {{ kibana_admin_id }}
🔑  password:   {{ kibana_admin_password.stdout }}
🔐  cert:       {{ kibana_certificate_info | default('Certificate not managed by the script', true) }}

Prometheus - Grafana (monitoring)
---------------------------------
{% if prometheus_grafana_expose_type == 'loadbalancer' %}
🖥️  URL:        http://{{ grafana_external_ip.stdout }}:{{ grafana_external_port.stdout }}     ( https://{{ prometheus_grafana_assigned_hostname }} )
{% endif %}
{% if prometheus_grafana_expose_type == 'ingress' %}
🖥️  URL:        https://{{ prometheus_grafana_assigned_hostname }}     (IP: {{ ingress_internal_external_ip.stdout }})
{% endif %}
👱  login:      {{ grafana_admin_id }}
🔑  password:   {{ grafana_admin_password.stdout }}
🔐  cert:       {{ grafana_certificate_info | default('Certificate not managed by the script', true) }}

Ingress
-------
default:    http://{{ ingress_external_ip.stdout }}:{{ ingress_external_port.stdout }}
internal:   http://{{ ingress_internal_external_ip.stdout }}:{{ ingress_internal_external_port.stdout }}
